.navbar {
  &-main {
    width: 100%;
    height: 100px;
    @media (max-width: 490px) {
      height: 80px;
    }
    position: fixed;
    display: flex;
    align-items: center;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: all ease 0.6s;
    @media (min-width: 620px) {
      padding: 10px 40px;
    }
    padding: 5px 20px;

    z-index: 10;
    nav {
      margin-left: 15px;
      display: flex;
      flex-direction: row;
      column-gap: 30px;
      position: relative;
      > a {
        font-size: 1.3em;
        @media (max-width: 620px) {
          font-size: 1em;
        }
        @media (max-width: 490px) {
          font-size: 0.8em;
        }
        text-decoration: none;
        color: rgb(20, 20, 20);
        font-weight: 600;
        transition: all ease 0.6s;
      }
    }
    .active {
      font-weight: 700;
      font-size: 1.4em;
      @media (max-width: 620px) {
        font-size: 1.05em;
      }
      @media (max-width: 490px) {
        font-size: 0.9em;
      }
    }
  }

  &-logo {
    height: 100%;
    overflow: hidden;
    img {
      transition: all ease 0.6s;
      border-radius: 20px;
      height: 100%;
      aspect-ratio: 1 / 1;
      @media (max-width: 520px) {
        height: 60px;
      }
      @media (max-width: 440px) {
        height: 0px;
      }
    }
  }
}
