.image {
  &-preview {
    width: 150px;
    height: fit-content;
    margin: 5px;
    background-color: black;
    position: relative;
    button {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.438);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: none;
      left: 10px;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
  }
}
