.images-drop {
  &-container > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  &-container {
    min-width: 150px;
    min-height: 150px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    border: 2px solid rgb(31, 31, 31);
    cursor: pointer;
  }
  &-title {
    font-weight: bold;
    font-size: 24px;
  }
  &-container > div > img {
    width: 100px;
    height: 100px;
    transition: 0.6s ease all;
  }
}
