@import "src/styles/variables.scss";

button {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  text-align: center;
}

.button {
  &-submit {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    cursor: pointer;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
  }

  &-submit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
  }

  &-submit:hover {
    color: #e8e8e8;
  }

  &-submit:hover::before {
    width: 100%;
  }

  &-simple {
    padding: 6px 12px;
    border: 1px solid #212121;
    border-radius: 10px;
    color: #212121;
    background-color: rgb(233, 233, 233);
    cursor: pointer;
    transition: ease all 0.5s;
  }
  &-simple:hover {
    background-color: #888888;
  }
}
