.videolist {
  &-main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    text-align: center;
    gap: 24px;
  }
}
