.contact {
  &-main {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;

    form {
      transition: all ease 0.5s;
      &.title {
        font-size: 1.6em;
      }
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: 600px;
      min-width: 300px;
      input {
        padding: 6px 16px;
        font-size: 1.4em;
        border-radius: 12px;
        border: 2px solid black;
      }
      textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #2b2b2b;
        border-radius: 12px;
        font-size: 16px;
        resize: none;
      }
    }
    > h4 {
      transition: all ease 0.5s;
    }
  }
  &-ig {
    width: 100%;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /* styles.css */

    /* Reset default styles for the button */
    > span {
      text-align: center;
      margin-left: 5px;
    }
    a {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 5px;
      margin-left: 3px;
      img {
        width: 40px;
        aspect-ratio: 1/1;
        transition: all 0.4s ease;
      }
      img:hover {
        transform: scale(1.1);
      }
    }
  }
}
