.main {
  text-align: center;
  color: #2c3e50;
  p {
    margin: 16px 0;
  }
  &-logo {
    margin: 0 auto;
    padding-top: 60px;
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
